STREAM_API_KEY=your_api_key
STREAM_API_SECRET=your_api_secret

ANTHROPIC_API_KEY=your_api_key
OPENAI_API_KEY=your_api_key
OPENWEATHER_API_KEY=your_api_key

PMG_EMAIL_USER=your_email
PMG_PASSWORD_USER=your_password
PMG_SERVER_URL=https://your-server.com

LMS_PROXY_API_TOKEN=""

PMG_ADMIN_EMAIL=your_admin_email
PMG_ADMIN_PASSWORD=your_admin_password
PMG_CLIENT_URL=https://your-client-url.com

GOOGLE_GEOCODING_API_KEY=your_api_key
