.tut__channel-preview {
	padding: 0.75rem 1rem;
	cursor: pointer;
}

.tut__channel-preview--active {
	background-color: var(--str-chat__primary-surface-color);
}

.tut__channel-preview__text {
	font-size: 1rem;
	font-weight: 500;
	color: var(--str-chat__text-color);
}
